<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Flask App</title>
</head>
<body>
    <h1>REST API Form</h1>

    <form action="/add_data" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="email">Email Id:</label>
        <input type="text" name="email" id="email">

        <label for="empid">Employee ID:</label>
        <input type="number" name="empid" id="empid" required>

        <input type="submit" value="Submit">
    </form>

</body>
</html>
