<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Flask App</title>
</head>
<body>
    <h1>REST API Form</h1>

    <form action="/view_data" method="POST">
        <label for="empid">Employee ID:</label>
        <input type="number" name="empid" id="empid">

        <input type="submit" value="Get Data" required>
    </form>

</body>
</html>
